/* <!-- Cours-section --> */
.card-body a {
  justify-content: center;
  text-align: center;
  text-decoration: none;
  list-style: none;
  align-items: center;
}
/* <!-- Cours-section --> */
/* provide-section */
.provide-icon i {
  margin-top: 29px;
  position: absolute;
  font-size: 50px;
  padding-left: 8px;
}
.line {
  background-color: #ff0000;
  height: 1px;
  width: 124px;
  margin-top: -10px;
  margin-left: 13px;
}
/* provide-section */
